@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.hind {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.history-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}
.service-name{
    color: #111;
    font-weight: bold;
    font-size: 1rem;
}
.service-number{
    color:grey;
    font-size: 1rem;
}

@media screen and (max-width:1480px) {
    main{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:385px) {
    main{
        padding: 5px;
    }
    
}